<div id="footer-div">
<footer id="footer" class="page-footer">
	<div class="container">
    <ul>
    <li>
    <div class="row row-1">
      <div class="col s3">INSTITUCIONAL</div>
      <div class="col s2">PAIS</div>
      <div class="col s2">AJUDA</div>
      <div class="col s3">SIGA-NOS</div>
      <div class="col s2">ENDEREÇO</div>
    </div>
    </li>
    <li>
      <div class="row row-2">
      <div class="col s3"><li routerLinkActive="active"><a routerLink="/sobrenos">Sobre Nós</a></li></div>
      <div class="col s2"><li routerLinkActive="active"><a routerLink="/login">Login</a></li></div>
      <div class="col s2"><li routerLinkActive="active"><a routerLink="/contato">Contato</a></li></div>
      <div class="col s3"><a href="https://pt-br.facebook.com/"><img width="50" src="../assets/img/facebook.png"></a>
        <a href="https://www.instagram.com/?hl=pt-br"><img width="50" src="../assets/img/instagram.png"></a>
        <a href="https://twitter.com/?lang=pt-br"><img width="50" src="../assets/img/twitter.png"></a>
        <a href="https://plus.google.com/discover"><img width="50" src="../assets/img/google-plus.png"></a></div>
      <div class="col s2">Rua Fulaninha, Nº666, Bairro, Estado CEP: 66666666-66</div>
    </div>
    </li>
    </ul>
  </div>
  <div class="footer-copyright">
    <div class="container white-text">
       © 2018
    </div>
  </div>
</footer>
</div>
