<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<div id="titulo">FALE CONOSCO!</div>
	<div id="faleconosco">
		<form class="col s12">
      		<div class="row">
        		<div class="input-field col s12">
          			<input type="text" class="validate">
          			<label for="nome">Nome</label>
        		</div>
      		</div>
      		<div class="row">
        		<div class="input-field col s12">
          			<input id="email" type="email" class="validate">
          			<label for="email">Email</label>
        		</div>
      		</div>
      	</form>
      	<br>
    	<form class="col s12">
      		<div class="row">
        		<div class="input-field col s12">
          			<textarea id="textarea1" class="materialize-textarea" data-length="500"></textarea>
          			<label for="textarea1">Escreva aqui sua mensagem.</label>
        		</div>
      		</div>
    	</form>
    		<div class="row">
    			<div class="col s4"></div>
        		<div class="input-field col s4">
        			<a class="waves-effect waves-light btn-large orange darken-4">Enviar mensagem</a>
        		</div>
        		<div class="col s4"></div>
        	</div>
	</div>
	<br><br><br>
	<div id="contatos">
		<div class="row">
    		<div class="col s4 m3">
      			<div class="card green darken-3 white-text">
        			<div class="card-image">
          				<img src="../assets/img/chamada.png">
          				<span class="card-title small green">Ligue</span>
        			</div>
        			<div class="card-content">
          				<p><b>Entre em contato pelo telefone:</b></p>
          				<p>(11)4002-8922</p>
        			</div>
      			</div>
   			</div>
   			<div class="col s1"></div>
   			<div class="col s4 m3">
      			<div class="card blue white-text">
        			<div class="card-image">
          				<img src="../assets/img/email.png">
          				<span class="card-title small blue lighten-2">Email</span>
        			</div>
        			<div class="card-content">
          				<p><b>Entre em contato por email:</b></p>
          				<p>kidschool@email.com.brhue</p>
        			</div>
      			</div>
   			</div>
   			<div class="col s1"></div>
   			<div class="col s4 m3">
      			<div class="card red white-text">
        			<div class="card-image">
          				<img src="../assets/img/local.png">
          				<span class="card-title small red lighten-1">Local</span>
        			</div>
        			<div class="card-content">
          				<p><b>Compareça em nossa escola:</b></p>
          				<p>Rua Fulaninha, Nº666, Bairro, Estado.</p>
        			</div>
      			</div>
   			</div>
  		</div>
	</div>
</body>
</html>
