<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<div id="corpo-login">
		<div id="titulo">LOGIN</div>
		<br>
		<div id= subtitulo>Acompanhe a vida escolar do seu filho!</div><br><br><br>
		<div id="conteudo">
    		<form class="col s12">
      			<div class="row">
        			<div class="input-field col s12">
          				<input type="text" class="validate">
          				<label for="matricula">Matrícula do Aluno</label>
        			</div>
      			</div>
      			<div class="row">
        			<div class="input-field col s12">
          				<input type="password" class="validate">
         				<label for="senha">Senha</label>
        			</div>
      			</div>
      			<br><br>
      			<div class="row">
        			<div class="input-field col s2.5">
        				<a class="waves-effect waves-light btn-large orange">Entrar</a>
        			</div>
        			<div class="col s9.5">
        				<br>
        				<a href="/login">Ainda não possuo uma conta</a>
        			</div>
        		</div>
   			</form>
  		</div>
  		<br><br><br><br>
    </div>
</body>
</html>