html{
	background: url(../assets/img/site-background.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center top;
}

#promo{
	margin: 10% 7%;
}

#kid1{
	padding-top: 3%;
	padding-left: 2%;
}