<app-navbar></app-navbar>
<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <div id="promo" class="row">
    <div class="col s3"><img id="kid1" width="100%" src="../assets/img/kid1.png"></div>
    <br><br><br><br>
  </div>
   <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</body>
</html>
  




    
  
    
   


