<!DOCTYPE html>
<html>
<body>
	<div id="bloco1">
		<div class="row">
      		<div id="bloco1-left" class="col s6"><div id="titulo">Na <b id="kidschool">KidSchool</b> seu filho aprende se divertindo!</div><div id="insc"> Perído de novas matrículas: 30/02 - 25/03</div></div>
      		<div id="bloco1-right" class="col s6"><img id="img-bloco1" width="99%" src="../assets/img/home-bloco1.jpg"></div>
      	</div>
	</div>
	<br><br><br>
	<div id="bloco2">
		<div class="row">
			<div id="bloco2-left" class="col s8"><div id="mural">Mural KidSchool</div><div id="texto-left">Lorem ipsum magna sagittis dapibus non pellentesque magna sodales nisi, ad cubilia nibh fusce blandit sit interdum auctor inceptos vel, molestie felis at volutpat suspendisse enim ultricies aliquam. maecenas ultrices potenti aliquam mauris habitasse primis pretium sagittis aenean, faucibus mauris rhoncus sem etiam ligula placerat tellus.<hr>
			<br>
			<br>
			Mi nisi per felis libero taciti quam est luctus sed sapien, ac phasellus sodales ac accumsan id neque duis litora netus, velit cras volutpat taciti nibh neque sodales taciti duis. interdum in tristique eu odio rutrum mollis primis semper per, pellentesque dictum turpis non sit quisque consectetur justo, ut phasellus nisl habitant amet est curae nullam.<hr>
			<br>
			<br>
			Cursus nisi augue rhoncus at convallis litora egestas lobortis, nibh erat lectus elit facilisis adipiscing suscipit. cursus tincidunt turpis auctor vitae ultricies ac sapien nam eros porta, magna primis vel nec aliquam tincidunt mauris conubia mauris, taciti fermentum ad sem risus curae condimentum praesent sodales.<hr>
			<br>
			<br>
			Mi nisi per felis libero taciti quam est luctus sed sapien, ac phasellus sodales ac accumsan id neque duis litora netus, velit cras volutpat taciti nibh neque sodales taciti duis. interdum in tristique eu odio rutrum mollis primis semper per, pellentesque dictum turpis non sit quisque consectetur justo, ut phasellus nisl habitant amet est curae nullam.<hr>
			<br>
			<br>
			Cursus nisi augue rhoncus at convallis litora egestas lobortis, nibh erat lectus elit facilisis adipiscing suscipit. cursus tincidunt turpis auctor vitae ultricies ac sapien nam eros porta, magna primis vel nec aliquam tincidunt mauris conubia mauris, taciti fermentum ad sem risus curae condimentum praesent sodales.</div></div>
			<div class="col s1"></div>
			<div id="bloco2-right" class="col s3"><div id="texto-noticias"><div id="noticias">NOTÍCIAS</div><div id="texto">Lorem ipsum magna sagittis dapibus non pellentesque magna sodales nisi, ad cubilia nibh fusce blandit sit interdum auctor inceptos vel, molestie felis at volutpat suspendisse enim ultricies aliquam. maecenas ultrices potenti aliquam mauris habitasse primis pretium sagittis aenean, faucibus mauris rhoncus sem etiam ligula placerat tellus.
			<br>
			<br>
			<hr>
			<br>
			Felis nisi lectus pellentesque purus imperdiet rutrum cubilia diam varius, dolor diam elementum non fermentum molestie sagittis velit sociosqu sem, ultrices amet consectetur malesuada integer cras condimentum ut. consectetur habitasse porta per sapien varius tempus lorem, nibh justo dapibus sociosqu inceptos nam, pharetra porta fringilla tincidunt suscipit urna. 
			<br>
			<br>
			<hr>
			<br>
			Mi nisi per felis libero taciti quam est luctus sed sapien, ac phasellus sodales ac accumsan id neque duis litora netus, velit cras volutpat taciti nibh neque sodales taciti duis. interdum in tristique eu odio rutrum mollis primis semper per, pellentesque dictum turpis non sit quisque consectetur justo, ut phasellus nisl habitant amet est curae nullam.
			<br>
			<br>
			<hr>
			Cursus nisi augue rhoncus at convallis litora egestas lobortis, nibh erat lectus elit facilisis adipiscing suscipit. cursus tincidunt turpis auctor vitae ultricies ac sapien nam eros porta, magna primis vel nec aliquam tincidunt mauris conubia mauris, taciti fermentum ad sem risus curae condimentum praesent sodales. 
			</div></div></div>
		</div>
	</div>
</body>
</html>