<div id="bloco">
		<div class="row">
      		<div id="bloco1-left" class="col s6"><img id="img-bloco0" src="../assets/img/sobrenos0.jpg"></div>
      		<div id="bloco1-left" class="col s6"><div id="titulo">História</div><br><div style="font-size: 65%">
			Lorem ipsum lacus morbi odio dui morbi vitae primis, accumsan potenti vehicula eu fames laoreet imperdiet, ac per primis diam sem turpis consectetur. semper enim orci elit torquent laoreet risus pretium ligula et fusce, aenean rhoncus platea vestibulum cubilia pharetra aenean metus donec libero, vel nunc duis rhoncus consectetur vel vestibulum faucibus cubilia. lorem dapibus ad orci rutrum lectus curabitur eros vestibulum, fusce lobortis maecenas ornare fames ut consectetur porttitor, lorem aliquam porttitor litora vehicula facilisis senectus. congue duis eu sed libero fames neque cubilia eu nec, dictumst donec est suscipit donec tellus hendrerit nulla posuere, potenti vivamus conubia tempus lacinia orci mi sodales.</div></div>
      	</div>
</div>
<br><br>


<div id="bloco">
		<div class="row">
      		<div id="bloco1-left" class="col s6"><img id="img-bloco1" width="90%" src="../assets/img/sobrenos1.jpg"></div>
      		<div id="bloco1-left" class="col s6"><div id="titulo">Visão</div><br>
			Ser reconhecida como uma escola de excelência pela sociedade, por proporcionar um ensino de qualidade e por cuidar de cada aluno como membro de uma família.</div>
      	</div>
</div>
<br><br>
<div id="bloco">
		<div class="row">
      		<div id="bloco1-left" class="col s6"><img id="img-bloco1" width="90%" src="../assets/img/sobrenos2.jpg"></div>
      		<div id="bloco1-left" class="col s6"><div id="titulo">Nossa Missão</div><br>Atender cada aluno na sua individualidade, oportunizando bases para seu desenvolvimento cognitivo-afetivo-físico-social. Proporcionar o aprendizado de forma divertida e eficaz. Agir com responsabilidade social e ambiental, gerando valores para nossos alunos, familiares e colaboradores.</div>
      	</div>
</div>
<br><br>
<div id="bloco">
		<div class="row">
      		<div id="bloco1-left" class="col s6"><img id="img-bloco1" width="90%" src="../assets/img/sobrenos3.jpg"></div>
      		<div id="bloco1-left" class="col s6"><div id="titulo">Valores</div><br>
      		<ul>
				<li>Respeito aos alunos, familiares e colaboradores;</li>
				<li>Relações interpessoais e trabalho coletivo;</li>
				<li>Respeito ao ambiente, aos acordos coletivos e normas sociais;</li>
				<li>Autorrespeito;</li>
				<li>Responsabilidade social;</li>
				<li>Inovação, autonomia e criticidade;</li>
				<li>Segurança e integridade de nossos educandos e colaboradores.</li>
			</ul></div>
      	</div>
</div>
